/* element tags */
body{
    margin: 0;
    padding: 0;
    background-image: url("img/movies2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

label{
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    color: red;
}

input {
    color: transparent;
}

/* Classes */
.table-dark {
    margin: 0;
}

.form1{
    background-color: transparent;
}

/* Navbar ids */
#navContainer{
    margin-top: 30px;
    opacity: .8;
}

#navContainer button{
    color: red;
    font-family: 'Teko', sans-serif;
}

#navContainer button:hover{
    background-color: red;
    color: black;
}

#navContainer h1{
    color: red;
    font-family: 'Lobster', cursive;
}

#navContainer a {
    color: red;
}

#navContainer a:hover {
    color: black;
    text-decoration: none;
}

/* container1 ids */
#container1 td {
    font-size: 1.3em;
}

#container1 th,td {
    font-family: 'Play', sans-serif;
    color: red;
}

#container1 button{
    color: red;
}

#container1 button:hover {
    background-color: red;
    color: black;
}

/* container2 ids */
#container2 {
    height: 55em;
    border: 0;
    padding: 0;
    margin-top: -15em;
}

/* container3 ids */
#container3 {
    height: 40em;
    background-color: green;
    background-image: url("img/place.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    margin-top: -7em;
}

/* Post form */
#postFrom{
    height: 45em;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -5em;
    background-image: url("img/flim.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#postFrom button{
    background-color: black;
    color:red;
}

#postFrom button:hover{
    background-color: red;
    color:black;
}